[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "snazzieR"]
	path = snazzieR
	url = https://github.com/jesusbutforgaypeople/snazzier
